<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sportizza</title>
    <script src="https://kit.fontawesome.com/3220c9480a.js" crossorigin="anonymous"></script>
    <link href="/Assets/css/visitor.css" rel="stylesheet"/>

</head>

<body>
    <header>
        <!-- Navigation Bar -->
        <nav>
            <div class="nav-container">
                <div class="logo-container">
                    <a href="#">
                        <i class="fas fa-running "></i>
                        <span class="logo-name">Sportizza</span>
                    </a>
                </div>
                <div class="nav-links">
                    <ul>
                        <li><a href="#">HOME</a></li>
                        <li><a href="#sport-arena">SPORTS ARENAS</a></li>
                        <li><a href="#reviews">REVIEWS</a></li>
                        <li><a href="#faq">FAQ</a></li>
                        <li><a href="#about">ABOUT</a></li>
                        <li><a href="#contact">CONTACT</a></li>
                        <!-- Direct to login page if not logged in -->
                        <li><a href="posts" class="active">Sign In</a></li>
                    </ul>
                </div>
                <div class="hamburger-menu">
                    <i class="fas fa-bars fa-2x"></i>
                </div>
            </div>
        </nav>
        <!-- End of navigation bar -->
    </header>
    <section class="page-container">
        <div class="visitor-home" id="home">
            <div class="visitor-welcome">
                <div class="visitor-welcome-desc">
                    <h1 class="welcome-title">Book a Sports Arena</h1>
                    <p class="visitor-welcome-text">
                        Book a Sports Arena without any hassle with the number 1 Sports arena Booking App in Srilanka.
                    </p>
                    <a href="#sp-arena" class="visitor-book-now-btn">Book Now</a>
                </div>
            </div>
            <div class="visitor-slide-show">
                <div class="visitor-slideshow-container">

                    <div class="visitor-slides fade">
                        <img src="/Assets/images/visitor/slides/image1.svg" style="width:100%">
                    </div>

                    <div class="visitor-slides fade">
                        <img src="/Assets/images/visitor/slides/image2.svg" style="width:100%">
                    </div>

                    <div class="visitor-slides fade">
                        <img src="/Assets/images/visitor/slides/image3.svg" style="width:100%">
                    </div>

                    <div class="visitor-slides fade">
                        <img src="/Assets/images/visitor/slides/image4.svg" style="width:100%">
                    </div>

                    <div class="visitor-slides fade">
                        <img src="/Assets/images/visitor/slides/image5.svg" style="width:100%">
                    </div>

                    <div class="visitor-slides fade">
                        <img src="/Assets/images/visitor/slides/image6.svg" style="width:100%">
                    </div>
                    <div class="visitor-slides fade">
                        <img src="/Assets/images/visitor/slides/image7.svg" style="width:100%">
                    </div>

                </div>
            </div>
        </div>
    </section>
    <section class="page-container" id="sport-arena">
        <div class="visitor-sport-arenas">
            <div class="section-header">
                <h3 class="title" data-title="">Sports Arenas</h3>
            </div>
            <div class="visitor-sp-arenas-con">
                <div class="visitor-sp-arena-filter">
                    <div class="location-filter dropdown">
                        <button class="dropbtn">Location
                            <i class="fa fa-caret-down"></i>
                        </button>
                        <div class="dropdown-content">
                            <a href="#">Link 1</a>
                            <a href="#">Link 2</a>
                            <a href="#">Link 3</a>
                            <a href="#">Link 1</a>
                            <a href="#">Link 2</a>
                            <a href="#">Link 3</a>
                            <a href="#">Link 1</a>
                            <a href="#">Link 2</a>
                            <a href="#">Link 3</a>
                        </div>
                    </div>
                    <div class="category-filter dropdown">
                        <button class="dropbtn">Category
                            <i class="fa fa-caret-down"></i>
                        </button>
                        <div class="dropdown-content">
                            <a href="#">Link 1</a>
                            <a href="#">Link 2</a>
                            <a href="#">Link 3</a>
                            <a href="#">Link 1</a>
                            <a href="#">Link 2</a>
                            <a href="#">Link 3</a>
                            <a href="#">Link 1</a>
                            <a href="#">Link 2</a>
                            <a href="#">Link 3</a>
                        </div>
                    </div>
                    <div class="search-filter">
                        <input type="search" name="" id="">
                        <label for="">Search</label>
                    </div>
                </div>
            </div>
            <div class="search-results">

                <h3>Search Results:
                    <div class="chip" style="margin-left: 2rem;">
                        Nugegoda
                        <span class="closebtn" onclick="this.parentElement.style.display='none'">&times;</span>
                    </div>
                    <div class="chip" style="margin-left: .5rem;">
                        Cricket Grounds
                        <span class="closebtn" onclick="this.parentElement.style.display='none'">&times;</span>
                    </div>
                </h3>

                <div class="result-details">
                    <h4><a href="">Mercantile Cricket Grounds</a></h4>
                    <div class="sp-arena-summary-items">
                        <h5>City:<h6> Colombo 07</h6>
                        </h5>

                        <h5>Category: <h6> Cricket Ground</h6>
                        </h5>
                        <a href="#" class="btn check-availability-btn"> Availability</a>

                    </div>

                </div>

                <div class="result-details">
                    <h4><a href="">Mercantile Cricket Grounds</a></h4>
                    <div class="sp-arena-summary-items">
                        <h5>City:<h6> Colombo 07</h6>
                        </h5>

                        <h5>Category: <h6> Cricket Ground</h6>
                        </h5>

                        <a href="#" class="btn check-availability-btn"> Availability</a>
                    </div>
                </div>
                <div class="result-details">
                    <h4><a href="">Mercantile Cricket Grounds</a></h4>
                    <div class="sp-arena-summary-items">
                        <h5>City:<h6> Colombo 07</h6>
                        </h5>

                        <h5>Category: <h6> Cricket Ground</h6>
                        </h5>

                        <a href="#" class="btn check-availability-btn"> Availability</a>
                    </div>
                </div>
                <div class="result-details">
                    <h4><a href="">Mercantile Cricket Grounds</a></h4>
                    <div class="sp-arena-summary-items">
                        <h5>City:<h6> Colombo 07</h6>
                        </h5>

                        <h5>Category: <h6> Cricket Ground</h6>
                        </h5>

                        <a href="#" class="btn check-availability-btn"> Availability</a>
                    </div>
                </div>
                <div class="result-details">
                    <h4><a href="">Mercantile Cricket Grounds</a></h4>
                    <div class="sp-arena-summary-items">
                        <h5>City:<h6> Colombo 07</h6>
                        </h5>

                        <h5>Category: <h6> Cricket Ground</h6>
                        </h5>

                        <a href="#" class="btn check-availability-btn"> Availability</a>
                    </div>
                </div>
                <div class="result-details">
                    <h4><a href="">Mercantile Cricket Grounds</a></h4>
                    <div class="sp-arena-summary-items">
                        <h5>City:<h6> Colombo 07</h6>
                        </h5>

                        <h5>Category: <h6> Cricket Ground</h6>
                        </h5>

                        <a href="#" class="btn check-availability-btn"> Availability</a>
                    </div>
                </div>
                <div class="result-details">
                    <h4><a href="">Mercantile Cricket Grounds</a></h4>
                    <div class="sp-arena-summary-items">
                        <h5>City:<h6> Colombo 07</h6>
                        </h5>

                        <h5>Category: <h6> Cricket Ground</h6>
                        </h5>

                        <a href="#" class="btn check-availability-btn"> Availability</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="page-container" id="reviews">
        <div class="visitor-reviews">
            <div class="section-header">
                <h3 class="title" data-title="">Customer Reviews</h3>
            </div>
            <div class="customer-reviews">
                <div class="customer-review-card">
                    <div class="review-header">
                        <div class="review-star-rate">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>

                        </div>
                        <div class="review-sp-arena-name">
                            - Mercantile Basketball Courts, Colombo 07
                        </div>
                    </div>
                    <div class="review-desc">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime earum dicta eaque
                        sequi! Saepe suscipit dignissimos est perspiciatis esse neque laudantium modi rem fugit.
                        Aliquam qui enim nobis repellendus odit!
                    </div>
                    <div class="review-footer">
                        <div class="review-info">
                            <img class="reviewer-img" src="/Assets/images/Team members/bhashitha.png"></img>
                            <h3 class="reviewer-name">Bhashitha Ranasinghe</h3>
                        </div>
                    </div>
                </div>
                <div class="customer-review-card">
                    <div class="review-header">
                        <div class="review-star-rate">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <div class="review-sp-arena-name">
                            - Mercantile Basketball Courts, Colombo 07
                        </div>
                    </div>
                    <div class="review-desc">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime earum dicta eaque sequi! Saepe
                        suscipit dignissimos est perspiciatis esse neque laudantium modi rem fugit. Aliquam qui enim
                        nobis repellendus odit!
                    </div>
                    <div class="review-footer">
                        <div class="review-info">
                            <img class="reviewer-img" src="/Assets/images/Team members/bhashitha.png"></img>
                            <h3 class="reviewer-name">Bhashitha Ranasinghe</h3>
                        </div>
                    </div>
                </div>
                <div class="customer-review-card">
                    <div class="review-header">
                        <div class="review-star-rate">

                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <div class="review-sp-arena-name">
                            - Mercantile Basketball Courts, Colombo 07
                        </div>
                    </div>
                    <div class="review-desc">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime earum dicta eaque sequi!
                        Saepe suscipit dignissimos est perspiciatis esse neque laudantium modi rem fugit.
                        Aliquam qui enim nobis repellendus odit!
                    </div>
                    <div class="review-footer">
                        <div class="review-info">
                            <img class="reviewer-img" src="/Assets/images/Team members/bhashitha.png"></img>
                            <h3 class="reviewer-name">Bhashitha Ranasinghe</h3>
                        </div>
                    </div>
                </div>
                <div class="customer-review-card">
                    <div class="review-header">
                        <div class="review-star-rate">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <div class="review-sp-arena-name">
                            - Mercantile Basketball Courts, Colombo 07
                        </div>
                    </div>
                    <div class="review-desc">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime earum dicta eaque sequi!
                        Saepe suscipit dignissimos est perspiciatis esse neque laudantium modi rem fugit. A
                        liquam qui enim nobis repellendus odit!
                    </div>
                    <div class="review-footer">
                        <div class="review-info">
                            <img class="reviewer-img" src="/Assets/images/Team members/bhashitha.png"></img>
                            <h3 class="reviewer-name">Bhashitha Ranasinghe</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="review-more">
                <button class="more-review-btn">Review More</button>
            </div>
        </div>
    </section>

    <section class="page-container" id="faq">
        <div class="faq">
            <div class="section-header">
                <h3 class="title" data-title="">Frequently Asked Questions</h3>
            </div>
            <div class="faq-category">
                <button class="faq-btn" onclick="openFaqTab(event,'customer-faq')">FAQ BY CUSTOMER</button>
                <button class="faq-btn" onclick="openFaqTab(event,'sp-arena-faq')">FAQ BY SPORT ARENA</button>
            </div>
            <div class="faq-container">
                <div class="faq-content faq-customer-tab" id="customer-faq">
                    <div class="customer-faq" id="sp-arena-faq">
                        customer
                    </div>
                </div>
                <div class="faq-content faq-sport-arena-tab" id="sp-arena-faq">
                    <div class="sp-arena-faq">
                        sp arena
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="page-container" id="about">
        <div class="about-us">
            <div class="section-header">
                <h3 class="title" data-title="Who are We">About Us</h3>
            </div>
            <div class="about-us-container">
                <div class="about-us-desc">
                    <h3 class="about-us-title">Hello,</h3>
                    <p class="about-us-text">We are a group of second year Undergraduates from
                        University of Colombo School of Computing interested
                        in contributing to the greater well being of the nation.</p>

                    <button class="read-more-about-btn">Read More</button>
                </div>
                <div class="about-us-image">
                    <img src="/Assets/images/visitor/about-us/about-us.svg" />
                </div>
            </div>

        </div>
    </section>
    <section class="page-container">
        <div class="our-team">
            <div class="section-header">
                <h3 class="title" data-title="">Our Team</h3>
            </div>
            <div class="group-members-cards">
                <div class="group-member-card">
                    <div class="group-member-header">
                        <div class="group-member-img">
                            <img src="/Assets/images/Team members/maneth.png" alt="" />
                        </div>
                        <div class="group-member-details">
                            <div class="group-member-name">
                                <h2 class="member-name">Maneth Wijethunga</h2>
                                <h4 class="member-title">Developer</h4>
                            </div>
                            <div class="social-media-icons">
                                <a href="#">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-instagram"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="group-member-desc">
                        Maneth is an Undergraduate at UCSC studying in the field
                        of Computer Science. His areas of interest include Finance,
                        Data Science & Computing .
                    </div>
                </div>
                <div class="group-member-card">
                    <div class="group-member-header">
                        <div class="group-member-img">
                            <img src="/Assets/images/Team members/jonathan.png" alt="" />
                        </div>
                        <div class="group-member-details">
                            <div class="group-member-name">
                                <h2 class="member-name">Jonathan Dass</h2>
                                <h4 class="member-title">Developer</h4>
                            </div>
                            <div class="social-media-icons">
                                <a href="#">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-instagram"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="group-member-desc">
                        Jonathan is an Undergraduate at UCSC studying in the field of Computer Science.
                        His areas of interest include Web development, Network Forensics & Cyber Security.
                    </div>
                </div>
                <div class="group-member-card">
                    <div class="group-member-header">
                        <div class="group-member-img">
                            <img src="/Assets/images/Team members/bhashitha.png" alt="" />
                        </div>
                        <div class="group-member-details">
                            <div class="group-member-name">
                                <h2 class="member-name">Bhashitha Ranasinghe</h2>
                                <h4 class="member-title">Developer</h4>
                            </div>
                            <div class="social-media-icons">
                                <a href="#">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-instagram"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="group-member-desc">
                        Bhashitha is an Undergraduate at UCSC studying in the field
                        of Computer Science. His areas of interest include Computer Networking, Web developing &
                        Marketing .
                    </div>
                </div>
                <div class="group-member-card">
                    <div class="group-member-header">
                        <div class="group-member-img">
                            <img src="/Assets/images/Team members/jonathan.png" alt="" />
                        </div>
                        <div class="group-member-details">
                            <div class="group-member-name">
                                <h2 class="member-name">Prasad Lakshan</h2>
                                <h4 class="member-title">Developer</h4>
                            </div>
                            <div class="social-media-icons">
                                <a href="#">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-instagram"></i>
                                </a>
                                <a href="#">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="group-member-desc">
                        Prasad is an Undergraduate at UCSC studying in the field of Computer Science.
                        His areas of interest include Web Development, Management & Data Science.
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="page-container" id="contact">
        <div class="contact-us">
            <div class="contact-us-container">
                <div class="contact-info">
                    <div class="section-header">
                        <h3 class="title" data-title="">Get In Touch</h3>
                    </div>
                    <div class="contact-info-container">
                        <p class="contact-us-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam ipsam
                            commodi eum nesciunt
                            rerum, assumenda quae. Officia voluptas quisquam dicta vel ex, dolore cupiditate quaerat,
                            earum iste, asperiores
                            exercitationem quibusdam?</p>
                        <div class="contact-us-details">
                            <div class="contact-detail">
                                <i class="fas fa-map-marker-alt"></i>
                                <p>No 35, Reid Avenue, Colombo 00700, Sri Lanka</p>
                            </div>
                            <div class="contact-detail">
                                <i class="fas fa-paper-plane"></i>
                                <p class="info-text">contact.sportizza@gmail.com</p>
                            </div>
                            <div class="contact-detail">
                                <i class="fas fa-phone-alt"></i>
                                <p class="info-text">+94 77 123 4567</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="contact-form">
                    <h2 class="contact-us-title">Contact Us</h2>
                    <form action="post">
                        <div class="visitro-name">
                            <input type="text" name="" id="">
                            <input type="text" name="" id="">
                        </div>
                        <input type="tel" name="" id="">
                        <input type="email" name="" id="">
                        <br>
                        <textarea name="" id="" cols="50" rows="10"></textarea>

                    </form>
                </div>

            </div>
            <div class="contact-form">

            </div>
        </div>
        </div>
    </section>
    <footer>
        <div class="footer-header">
            <div class="footer-image">
                <img src="/Assets/images/logos/Sportizza_Logo_Final.png" alt="" />
            </div>
            <div class="footer-header-text">
                <h3 class="title-sm">Sportizza</h3>
                <p class="text">
                    We have the desire of building a healthy community.
                </p>
            </div>
            <div class="footer-nav-col-1">
                <ul>
                    <li>
                        <a href="#">HOME</a>
                    </li>
                    <li>
                        <a href="#sp-arena">SPORTS ARENAS</a>
                    </li>
                    <li>
                        <a href="#reviews">REVIEWS</a>
                    </li>
                </ul>
            </div>
            <div class="footer-nav-col-2">
                <ul>
                    <li>
                        <a href="#faq">FAQ</a>
                    </li>
                    <li>
                        <a href="#about">ABOUT</a>
                    </li>
                    <li>
                        <a href="#contact">CONTACT</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer-base">
            <div class="footer-copy">
                <p class="text">
                    Copyright &copy;2021 All rights reserved | Sportizza Inc.
                </p>
            </div>
            <div class="footer-follow">
                <div class="followus">
                    <h3>Follow us</h3>
                    <span class="footer-line"></span>
                    <div class="social-media">
                        <a href="#">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                        <<a href="#" class="back-btn">
                        <i class="fas fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <script src="/Assets/js/app.js"></script>
</body>

</html>